<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:name=".DevilApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_devil_launcher"
        android:roundIcon="@mipmap/ic_devil_launcher"
        android:label="Devil"
        android:supportsRtl="true">

        <activity
            android:name=".DevilActivity"
            android:theme="@style/Theme.Devil.Starting"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <service
            android:name=".accessibility.DevilAccessibilityService"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/devil_accessibility_service_config" />

        </service>

        <service
            android:name=".notification.DevilNotificationListenerService"
            android:exported="false"
            android:label="Devil Notification Intelligence"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">

            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>

        </service>

    </application>

</manifest>
